:root {
  /* Primary Color */

  --Light-red: hsl(0, 100%, 67%);

  --Orange-yellow: hsl(39, 100%, 56%);

  --Green-teal: hsl(166, 100%, 37%);
  --Cobalt-blue: hsl(234, 85%, 45%);

  /* Gradients */
  /* background */
  --Light-slate-blue: rgb(121, 87, 255);
  --Light-royal-blue: #2e2be9;

  /* circle */
  --Violet-blue: rgb(78, 33, 202);
  --Persian-blue: rgba(36, 33, 202, 0);

  /* Neutral */

  --White: hsl(0, 0%, 100%);
  --Pale-blue: hsl(222, 100%, 96%);
  --Light-lavender: hsl(241, 100%, 89%);
  --Dark-gray-blue: hsl(224, 30%, 27%);

  /* Typography */
  --font-size: 1.125rem;

  /* Font */
  --Hanken: "Hanken Grotesk";
}

/* Use Board-Box Model */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: var(--Hanken);
  background-color: var(--White);
  font-size: var(--font-size);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  overflow: auto;
}

h2,
h3,
h4,
p {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

main {
  display: flex;
  flex-direction: column;
}

.result {
  padding: 1rem;
  background: rgb(46, 43, 233);
  background: linear-gradient(
    0deg,
    rgba(46, 43, 233, 1) 40%,
    rgba(46, 43, 233, 0.8) 100%
  );
  color: var(--Light-lavender);
  text-align: center;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.result h1,
.summary h3 {
  margin-top: 1rem;
  font-size: calc(var(--font-size) * 1.3);
}

.circle {
  background: rgba(36, 33, 202, 0);
  background: conic-gradient(
    rgb(78, 33, 202),
    rgba(36, 33, 202, 0),
    rgb(78, 33, 202)
  );
  border-radius: 50%;
  border: none;
  width: 10rem;
  height: 10rem;
  margin: 1rem auto;
  padding: 2rem 0;
}

.circle span {
  color: var(--White);
  display: block;
  font-size: calc(var(--font-size) * 3.5);
  font-weight: 700;
}

.result h2 {
  color: var(--White);
  font-size: calc(var(--font-size) * 1.4);
  margin-bottom: 1rem;
}

.result-text {
  margin-bottom: 1rem;
  padding: 0 1rem;
}

.summary {
  padding: 1rem;
  background-color: var(--White);
}

.indicators {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  border-radius: 10px;
  padding: 1rem;
  color: hsla(224, 30%, 27%, 0.7);
  margin-top: 1rem;
}

.indicators h4 {
  margin-right: auto;
}

.indicators span {
  color: hsla(224, 30%, 27%, 1);
  font-weight: 700;
}

button {
  display: block;
  width: 100%;
  padding: 1rem 0;
  border: none;
  border-radius: 20px;
  background-color: var(--Dark-gray-blue);
  color: var(--White);
  margin-top: 1rem;
}

button:hover {
  background-color: var(--Cobalt-blue);
}

@media (min-width: 50em) {
  body {
    max-width: 50vw;
    max-height: 70vh;
    margin: 1px auto;
  }
  main {
    flex-direction: row;
  }
  .result {
    flex-basis: 50%;
    border-radius: 30px;
    -moz-box-shadow: -15px 25px 30px 0 var(--Pale-blue);
    -webkit-box-shadow: -15px 25px 30px -0 var(--Pale-blue);
    box-shadow: -15px 25px 30px 0 var(--Pale-blue);
    /* padding: 2rem; */
  }

  .result h1 {
    font-size: calc(var(--font-size) * 1.5);
    margin-bottom: 2rem;
  }
  .result h2 {
    font-size: calc(var(--font-size) * 1.5);
    margin-top: 2rem;
  }
  .result-text {
    padding: 0 calc(var(--font-size) * 2);
  }

  .circle {
    width: 12rem;
    height: 12rem;
  }

  .summary {
    padding: 2rem;
    flex-basis: 50%;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    -moz-box-shadow: 15px 25px 30px 0 var(--Pale-blue);
    -webkit-box-shadow: 15px 25px 30px 0 var(--Pale-blue);
    box-shadow: 15px 25px 30px 0 var(--Pale-blue);
  }

  .summary h3{
    margin-bottom: 1.5rem;
  }
  
  button {
    margin-top: 2rem;
  }
}
